body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.home{
    text-align: center;
    text-decoration: none;
    padding-top: 20%;

}


